<h1>Movies</h1>

<%= link_to "Add New Moive", new_movie_url %>

<% @movies.each do |movie| %>
  <p><%= movie.title %></p>
  <p><%= movie.genre %></p>
  <p><%= movie.overview %></p>
  <p><%= movie.actor %></p>
  <p><%= movie.rating %></p>
  <p><%= image_tag movie.poster, width:"175" %></p>

  <%= link_to "View", movie_path(movie) %>
  <%= link_to "Edit", edit_movie_path(movie) %>
  <%= link_to 'Delete', movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %>
 
<% end %>